<li class="menu-item text-center" role="listitem">
  <div class="menu-item-container">
     <% if item.is_vegan %>
      <span class="vegan-label me-2" tabindex="0" aria-label="טבעוני"> טבעוני </span>
    <% end %>
    <% if item.is_popular %>
      <span class="popular-label me-2" tabindex="0" aria-label="פופולרי"> פופולרי </span>
    <% end %>
    <% if item.is_new %>
      <span class="new-label me-2" tabindex="0" aria-label="חדש"> חדש </span>
    <% end %>
    <span class="menu-item-price" tabindex="0"><%= number_to_currency(item.price) %></span>
    <h3 class="menu-item-name" tabindex="0"> <%= item.item_name %></h3>
  </div>
  <p class="menu-item-description" tabindex="0"><%= item.item_description %></p>
</li>
<% if show_divider %>
  <hr class="menu-item-divider" aria-hidden="true">
<% end %> 