@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashboard-card {
    @apply overflow-hidden rounded-lg bg-white shadow;
  }

  .dashboard-card-content {
    @apply p-5;
  }

  .dashboard-card-label {
    @apply text-sm font-medium text-gray-500;
  }

  .dashboard-card-value {
    @apply mt-1 text-3xl font-semibold text-gray-900;
  }

  .dashboard-table-header {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }

  .dashboard-table-cell {
    @apply px-6 py-4 whitespace-nowrap;
  }

  .dashboard-action-button {
    @apply inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .whatsapp-order-button {
    @apply inline-flex items-center rounded-md bg-green-600 px-4 py-3 text-base font-bold text-white shadow-md hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 transition-all duration-200 ease-in-out;
  }

  .menu-section {
    @apply max-w-md md:max-w-lg lg:max-w-6xl mx-auto px-6 py-8 bg-white bg-opacity-90 rounded-lg shadow-lg mt-12;
  }

  .menu-category-title {
    @apply text-2xl font-semibold text-center mb-8 text-gray-800;
  }

  .menu-items-list {
    @apply space-y-6;
  }

  .menu-item-container {
    @apply flex justify-center items-baseline border-b border-dotted border-gray-300 pb-1;
  }

  .menu-item-price {
    @apply text-lg font-medium ml-4 mr-4;
  }

  .menu-item-name {
    @apply text-lg font-medium;
  }

  .menu-item-description {
    @apply text-gray-600 text-sm mt-2;
  }

  .menu-item-divider {
    @apply my-4 border-t-2 border-gray-200;
  }

  .vegan-label {
    @apply bg-green-200 text-green-800 font-semibold px-2 py-1 rounded;
  }

  .menu-section__collapsible-list {
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
  .menu-section__collapsible-list--collapsed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .menu-section__collapsible-list--expanded {
    max-height: 2000px;
    opacity: 1;
    visibility: visible;
  }
  
  .table-cell-style {
    max-width: 150px;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .menu-section__collapse-button {
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .menu-section__collapse-icon {
    transition: transform 0.4s ease;
  }

  .form-input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
  }
}